{% extends 'base.html.twig' %}

{% block title %}Liste des vidéos de la rubrique {{ rubrique }}{% endblock %}

{% block body %}

    <section class="video-details">
        <!--<div class="text-center video-logo">
            <img src="{{ absolute_url(asset('assets/images/logo-tv.png')) }}" alt="Logo Dream Maker TV" >
        </div>-->
        <div class="container bg-similaires">
            <div class="row pt-60">
                <div class="col-12">
                    <h2>{{ rubrique|title}}</h2>
                </div>
                {% for article in articles %}
                    <div class="col-6 col-sm-6 col-md-4">
                        <div class="video-net-box">
                            <img src="{{ absolute_url(asset('uploads/480/'~ article.img480)) }}" alt="" class="img-fluid">
                            <div class="video-net-content">
                                <span class="post">{{ article.titre }}</span>
                                <ul class="video-player-icon">
                                    <li><a href="{{ path('video_show', {'slug': article.slug}) }}"><i class="fa fa-play-circle"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-12 text-center">
                    {{ knp_pagination_render(articles) }}
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block bgimage %}
    style="background: url({{ asset('assets/images/bg-ubuntu2.png') }}) no-repeat center fixed"
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v6.0"></script>
    <script>
        $(function () {

            $('.navbar-toggler').on('click', function(event) {
                event.preventDefault();
                $(this).closest('.navbar-video').toggleClass('open');
            })
        });
    </script>
{% endblock %}