<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Dream Maker TV{% endblock %}</title>
        {% block meta %}
            <meta name="keywords" content="Dream Maker, TV, webTV, video, streamming, "  />
            <meta name="description" content="Dream Maker TV est une plateforme qui a pour objectif de faire la promotion d'events, de video musicales, sportives pour le divertissement des internautes" />
            <meta name="revisit" content="7 days" />
            <meta name="revisit-after" content="7 days">
            <meta name="Author" content="Dream Maker TV, Delrodie AMOIKON">
            <meta name="Copyright" content="tv.dreammakerci.com">
            <meta name="Content-Language" content="FR">
            <meta name="distribution" content="global" />
            <meta name="Audience" content="All" />
            <meta name="Robots" content="full">

            <link rel="canonical" href="{{ absolute_url(path('app_accueil')) }}" />
            <meta property="og:locale" content="fr_FR" />
            <meta property="og:type" content="website" />
            <meta property="og:title" content="Dream Maker TV" />
            <meta property="og:description" content="Dream Maker TV est une plateforme qui a pour objectif de faire la promotion d'events, de video musicales, sportives pour le divertissement des internautes " />
            <meta property="og:url" content="{{ absolute_url(path('app_accueil')) }}" />
            <meta property="og:site_name" content="Dream Maker TV" />
            <meta property="article:section" content="Item" />
            <meta property="article:published_time" content="2018-01-20T15:25:59+00:00" />
            <meta property="og:image" content="{{ absolute_url(asset('assets/images/logo-tv.png')) }}" />
            <meta name="twitter:card" content="summary"/>
            <meta name="twitter:description" content="Dream Maker TV est une plateforme qui a pour objectif de faire la promotion d'events, de video musicales, sportives pour le divertissement des internautes"/>
            <meta name="twitter:title" content="Dream Maker TV"/>
            <meta name="twitter:domain" content="{{ absolute_url(path('app_accueil')) }}"/>
            <meta name="twitter:image:src" content="{{ absolute_url(asset('assets/images/logo-tv.png')) }}"/>
        {% endblock %}
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ absolute_url(asset('assets/css/style.css') )}}">
            <link rel="stylesheet" href="{{ absolute_url(asset('assets/css/responsive.css')) }}">
        {% endblock %}
        <script src="{{ absolute_url(asset('assets/js/date.js')) }}"></script>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-104978409-13"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-104978409-13');
        </script>

    </head>
    <body {% block bgimage %}{% endblock %}>
        <header class="tv-header">
            <div class="top-header">
                <div class="container">
                    <div class="row flow-nowrap justify-content-between align-items-center">
                        <div class="col col-sm-9 col-md-4 header-calendar justify-content-sm-center ">
                            <i class="far fa-calendar-alt fa-1x"></i>
                            <span id="date_heure"></span>
                            <script type="text/javascript">window.onload = date_heure('date_heure');</script>
                        </div>
                        <div class="d-none d-sm-none d-md-block col-md-4 text-center header-social-icon">
                            <a href="https://facebook.com/dreammakercicom" class="icon-facebook" target="_blank"><i class="fab fa-facebook-f"></i></a>
                            <a href="https://twitter.com/dreammakerci" class="icon-twitter" target="_blank"><i class="fab fa-twitter"></i></a>
                            <a href="https://instagram.com/dreammakerci" class="icon-instagram" target="_blank"><i class="fab fa-instagram"></i></a>
                            <a href="https://youtube.com/dreammakerci" class="icon-youtube" target="_blank"><i class="fab fa-youtube"></i></a>
                        </div>
                        <!--<div class="col col-sm-3 col-md-4 text-right">
                            <a href="#">FR</a> |
                            <a href="#">EN</a>
                        </div>-->
                    </div>
                </div>
            </div>
            {% block navbar %}{% endblock %}
        </header>
        {% block body %}{% endblock %}
        <footer id="tv-footer" class="tv-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-4">
                        <div class="tv-footer-box-info">
                            <a href="{{ absolute_url(path('app_accueil')) }}" class="footer-logo">
                                <img src="{{ asset('assets/images/logo-tv.png') }}" alt="footer_logo" class="img-fluid" width="150">
                            </a>
                            <p class="footer-info-text text-justify">
                                Dream Maker TV est une webTV qui a pour objectif de faire la promotion d'events, de vidéos musicales,
                                sportives et surtout un condensé de divertissement pour le plaisir de tous les internautes.
                            </p>
                            <div class="footer-social-link">
                                <h3>Nous suivre</h3>
                                <ul>
                                    <li>
                                        <a href="https://facebook.com/dreammakercicom" target="_blank">
                                            <i class="fab fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://twitter.com/dreammakerci" target="_blank">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://instagram.com/dreammakerci" target="_blank">
                                            <i class="fab fa-instagram"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://youtube.com/dreammakerci"target="_blank">
                                            <i class="fab fa-youtube"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-8">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="contact-us">
                                    <div class="contact-icon">
                                        <i class="fa fa-map-marked-alt" aria-hidden="true"></i>
                                    </div>
                                    <div class="contact-info">
                                        <h3>Abidjan, Côte d'Ivoire</h3>
                                        <p>Angré 7ème tranche</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="contact-us contact-us-last">
                                    <div class="contact-icon">
                                        <i class="fa fa-phone-volume" aria-hidden="true"></i>
                                    </div>
                                    <div class="contact-info">
                                        <h3>00225 58 58 00 00</h3>
                                        <p>Nous appeler</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-lg-6">
                                <div class="footer-widget footer-left-widget">
                                    <div class="section-heading">
                                        <h3>Rubriques</h3>
                                        <span class="animate-border border-black"></span>
                                    </div>
                                    <ul>
                                        <li>
                                            <a href="{{ absolute_url(path('video_rubriques', {'rubrique': 'showbiz'})) }}">Showbiz</a>
                                        </li>
                                        <li>
                                            <a href="{{ absolute_url(path('video_rubriques', {'rubrique': 'sport'})) }}">Sports</a>
                                        </li>
                                        <li>
                                            <a href="{{ absolute_url(path('video_rubriques', {'rubrique': 'buzz'})) }}">Buzz</a>
                                        </li>
                                        <li>
                                            <a href="{{ absolute_url(path('video_rubriques', {'rubrique': 'divers'})) }}">Divers</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-6">
                                <div class="footer-widget">
                                    <div class="section-heading">
                                        <h3>Newsletter</h3>
                                        <span class="animate-border border-black"></span>
                                    </div>
                                    <p style="margin-top: 25px;">Ne rater aucune information en souscrivant au Newsletter</p>
                                    {{ render(url('newsletter_new'))}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <span>Copyright © 2020, <a href="http://dreammaker-ci.com">DREAM MAKER</a> | Tous droits réservés</span>
                        </div>
                        <div class="col-md-6 text-right">
                            <span><a href="{{ absolute_url(path('backend_dashboard')) }}" target="_blank">Backoffice</a></span>
                        </div>
                    </div>
                </div>
            </div>
            <div id="back-to-top" class="back-to-top">
                <button class="btn btn-dark" title="Back to Top" style="display: block;">
                    <i class="fa fa-angle-up"></i>
                </button>
            </div>
        </footer>
        {% block javascripts %}
            <script src="{{ absolute_url(asset('assets/js/jquery.min.js')) }}"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
            <script src="{{ absolute_url(asset('assets/vendor/bootstrap/js/bootstrap.min.js')) }}"></script>
            <script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=5eba7ed35433140012c373d9&product=inline-share-buttons&cms=sop' async='async'></script>
            <script src="{{ absolute_url(asset('assets/js/app.js') )}}"></script>
            <script src="{{ absolute_url(asset('assets/js/video.js')) }}"></script>
            <script>
                $('#menuVertical').collapse({
                    toggle: false
                });
                $(window).scroll(function () {
                    if ($(this).scrollTop() > 50) {
                        $('#back-to-top').fadeIn();
                    } else {
                        $('#back-to-top').fadeOut();
                    }
                });
                // scroll body to 0px on click
                $('#back-to-top').click(function () {
                    $('#back-to-top').tooltip('hide');
                    $('body,html').animate({
                        scrollTop: 0
                    }, 800);
                    return false;
                });

                $('#back-to-top').tooltip('show');
            </script>
        {% endblock %}
    </body>
</html>
